on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

name: Linux build
jobs:
    py-check:
        runs-on: ${{ matrix.config.os }}
        name: ${{ matrix.config.os }} (${{ matrix.config.py }})
        strategy:
            fail-fast: false
            matrix:
                config:
                    - { os: ubuntu-latest, py: "3.10" }
                    - { os: ubuntu-latest, py: "3.11" }
        steps:
            - name: Checkout Code
              uses: actions/checkout@v3
            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.config.py }}
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install --user -r requirements.txt
                  pip install --user -r requirements_dev.txt
            - name: Module-TEST
              run: |
                  python -m unittest discover test/
                  python -m pytest test/
            - name: Train example
              run: |
                python train.py --data_name cifar10 --model iglvq --train_norm lpips-l2 --test_norm l2 --feature_extraction --prune --prune_mode easy --prune_fraction 0.8
                
          

